* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}
#datetime-picker{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  border-radius: 50px;
  border:teal solid 2px;
  text-align: center;
}
.datetime-button{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  border-radius: 50px;
  border:dodgerblue solid 2px;
  font-size: 25px;
  background-color:rgba(184, 135, 11, 0.363);
  transition: border 0.5s linear , background-color 0.5s linear;
}
.datetime-button:disabled{
  border:rgb(239, 245, 245) solid 2px;
  background-color:rgb(211, 211, 211);
}
.timer{
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 15px;
}

.timer .value{
  font-size: 25px;
}
